<h1>Tasks Manager</h1>

<h2>Your Tasks</h2>
<% @tasks.each do |task| %>
  <h3><%= link_to task.name, task_path(task) %></h3>
  <h4><%= task.description%></h4>
<% end %>

<h2>What do you want to do?</h2>

<%= link_to "Add a new Task", new_task_path %>




